BEWIKI_API_URL=https://be.wikipedia.org/w/api.php
BEWIKI_STREAM_URL=https://stream.wikimedia.org/v2/stream/recentchange
BEWIKI_BOT_USERNAME=YourBot@revdel-watch
BEWIKI_BOT_PASSWORD=REDACTED
BEWIKI_USER_AGENT="bewiki-revdel-daemon/1.0 (contact on-wiki)"
